body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.random-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.image-block {
    text-align: center;
    width: 45%;
}

.score-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ORder List */
.side-panel {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    overflow-y: auto;
    background: #1f3331;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.image-score {
    margin-left: 10px;
    font-weight: bold;
}

.image-score-header{
    min-width: 150px;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: calc(100% - 360px);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.votes{
    font-size: 18px;
    margin-bottom: 20px;
}

.name{
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #101918;
    color: #9bfff4;
  }

.skip{
    position: absolute;
    bottom: 0px;
    left: -36px;
    background-color: #ff0000;
}

.skip-block{
    position: relative;
}